<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./templates/head.ejs") -%> 
    <link rel="stylesheet" href="../static/css/chessboard-1.0.0.min.css">
  </head>


  <body>

    <div class="container-fluid">
    <div class="row">
        <div class="col-md-1"> </div>

        <div class="col-md-10">

          <%- include("./templates/navbar.ejs", { name: name, match: match, messages: messages }) -%> 
            <div class="row">
                <div class="col-md-9">
                  <% if (match.id){ %> 
                    <h3 class="text-center" id="gameID">
                      Game ID: <b> <%= match.id %> </b> 
                    </h3>
                  <% } %>

                  <br>
                  
                  <center>
                    <div id="myBoard" style="width: 520px"></div>
                  </center>

                </div>
                <!-- <div class="col-md-1"></div> -->
                <div class="col-md-3">

                  <div class="roundbox sidebox">
                    <div class="roundbox-lt">&nbsp;</div>
                    <div class="roundbox-rt">&nbsp;</div>
                    <div class="caption titled">→ Game details
                        <button id="surrender" onclick="surrender()">Surrender</button>
                        <div class="top-links"> </div>
                    </div>
                    <div class="personal-sidebar">
                        <center>
                            <b id="gameDetails">
                              Black's point: 0 <br>
                              White's point: 0
                            </b> <br>
                            <label>Status:</label>
                            <div id="status"></div>
                            <br>
                            <label>7 points to roll a random piece</label> <br>
                            <button id="gacha" onclick="rollRandomPiece()">Roll</button>
                            <div id="rolledPiece"></div>
                        </center>
                          <!-- <br style="clear:both;">  -->
                    </div>
                  </div>
                  

                    <%- include("templates/top10.ejs") -%> 
                </div>
            </div>
            
        </div>
        <div class="col-md-1"> </div>
      </div>
    </div>

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/scripts.js"></script>

    <script src="../static/js/chessboard-1.0.0.min.js"></script>
    <script src="../static/js/chess.js"></script>

    <script src="../socket.io/socket.io.js"></script>
    <script src="../static/js/client_game.js"></script>
    
  </body>

  <%- include("templates/footer.ejs") -%> 
</html>