<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./templates/head.ejs") -%> 
  </head>
  
  <body>

    <div class="container-fluid">
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-10">
            <%- include("./templates/navbar.ejs", { name: null, match: null, messages: null }) -%> 
            <div class="row">
                <div class="col-md-9">
                    <h3 class="text-center">
                        Login
                    </h3>
                    
                    <center>
                      <form action="/login" method="POST">
                        <% if (messages.error) { %>
                          <b style="color: red"> <%= messages.error %> </b>
                          <br>
                        <% } %>
                        <label for="username"><b>Username</b></label>
                        <input id="username" type="text" placeholder="Enter Username" name="username" required>
                        <br>
                        <label for="password"><b>Password</b></label>
                        <input id="password" type="password" placeholder="Enter Password" name="password" required>
                        <br>
                        <button type="submit">Login</button>
                      </form>
                    </center>

                </div>
                <!-- <div class="col-md-1"></div> -->
                <div class="col-md-3">
                    <%- include("templates/top10.ejs") -%> 
                </div>
            </div>
        </div>
        <div class="col-md-1">
        </div>
    </div>
</div>

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/scripts.js"></script>
    
  </body>

  <%- include("templates/footer.ejs") -%> 
</html>